<!--multiple carousel-->
	<div class="row">
	    <div class="col-md-12">
	    	<!--container-->
	      	<div class="carousel slide multi-item-carousel" id="theCarousel">
	        	<div class="carousel-inner">
		          	<div class="item" ng-repeat=" item in list track by $index">
		            	<div class="col-xs-4"><a href="#1"><img src="{{item }}" class="img-responsive"></a></div>
		          	</div>
		          	<div class="item">
		            	<div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/e91e63/000000" class="img-responsive"></a></div>
		          	</div>
		          	<div class="item active">
		            	<div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/9c27b0/000000" class="img-responsive"></a></div>
		          	</div>
		          	<div class="item">
		            	<div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/673ab7/000000" class="img-responsive"></a></div>
		          	</div>
		          	<div class="item">
		            	<div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/4caf50/000000" class="img-responsive"></a></div>
		          	</div>
		          	<div class="item">
		            	<div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/8bc34a/000000" class="img-responsive"></a></div>
		          	</div>
	        	</div>
		        <a ng-non-bindable class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
		        <a ng-non-bindable class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
	      </div>
	      <!-- container end-->
	    </div>
  	</div>
  	<!--multiple carousel end-->
